In [1]:
import pretty_midi
import numpy as np
import pandas as pd

In [5]:

midi_data = pretty_midi.PrettyMIDI('songs/hes_a_pirate.mid')
print("duration:",midi_data.get_end_time())
print(f'{"note":>10} {"start":>10} {"end":>10}')

# Instrument codes: http://www.ccarh.org/courses/253/handout/gminstruments/
instruments = midi_data.instruments
print(instruments)

piano1 = instruments[0]

duration: 77.625
      note      start        end
[Instrument(program=0, is_drum=False, name="Right Hand"), Instrument(program=0, is_drum=False, name="Left Hand"), Instrument(program=48, is_drum=False, name="Staff-1")]

In [6]:
def get_raw_notes(instrument):
    attrs = ['start', 'end', 'pitch', 'velocity']
    return [[getattr(note, a) for a in attrs] for note in instrument.notes]

In [7]:
piano_df = pd.DataFrame(get_raw_notes(piano1), 
                        columns=['start','end','note', 'velocity'])
piano_df

     start     end  note  velocity
0     0.00   0.300    62       108
1     0.30   0.450    62       108
2     0.45   0.750    62       108
3     0.75   0.900    62       108
4     0.90   1.200    62       108
..     ...     ...   ...       ...
555  75.30  75.550    76       108
556  75.60  76.000    65       108
557  75.60  76.000    69       108
558  75.60  76.000    74       108
559  76.50  77.625    62       108

[560 rows x 4 columns]

In [8]:
to_hz = lambda notenum: 2 ** ((notenum - 69)/12) * 440
piano_df['freq'] = piano_df.note.map(to_hz)
piano_df['duration'] = piano_df.end - piano_df.start
piano_df

     start     end  note  velocity        freq  duration
0     0.00   0.300    62       108  293.664768     0.300
1     0.30   0.450    62       108  293.664768     0.150
2     0.45   0.750    62       108  293.664768     0.300
3     0.75   0.900    62       108  293.664768     0.150
4     0.90   1.200    62       108  293.664768     0.300
..     ...     ...   ...       ...         ...       ...
555  75.30  75.550    76       108  659.255114     0.250
556  75.60  76.000    65       108  349.228231     0.400
557  75.60  76.000    69       108  440.000000     0.400
558  75.60  76.000    74       108  587.329536     0.400
559  76.50  77.625    62       108  293.664768     1.125

[560 rows x 6 columns]

In [7]:
# Max duration for each note -- how long you need to record for
piano_df.groupby('freq').duration.max()

freq
174.614116     0.300
195.997718     0.400
220.000000     0.525
233.081881     0.300
246.941651     0.150
261.625565     0.300
277.182631     0.450
293.664768     1.125
329.627557     0.450
349.228231     0.525
391.995436     0.300
440.000000     0.400
466.163762     0.300
523.251131     0.300
554.365262     0.300
587.329536     0.400
659.255114     0.300
698.456463     0.400
783.990872     0.300
880.000000     0.400
932.327523     0.400
1046.502261    0.250
Name: duration, dtype: float64

In [ ]:
# Midi velocity to volume?