In [1]:
import pretty_midi
import numpy as np
import pandas as pd

In [22]:

midi_data = pretty_midi.PrettyMIDI('songs/take_on_me.mid')
print("duration:",midi_data.get_end_time())
print(f'{"note":>10} {"start":>10} {"end":>10}')

# Instrument codes: http://www.ccarh.org/courses/253/handout/gminstruments/
instruments = midi_data.instruments
print(instruments)

piano1 = instruments[0]

duration: 224.87758753125001
      note      start        end
[Instrument(program=36, is_drum=False, name="Slap Bass 2         "), Instrument(program=27, is_drum=False, name="Elec Guitar 1       "), Instrument(program=49, is_drum=False, name="String Sect 3       "), Instrument(program=88, is_drum=False, name="Doctor Solo         "), Instrument(program=6, is_drum=False, name="Harpsichord 2       "), Instrument(program=63, is_drum=False, name="Syn Brass 1         "), Instrument(program=52, is_drum=False, name="Chorale             "), Instrument(program=0, is_drum=True, name="Percussion          ")]

In [23]:
def get_df(instrument):
    attrs = ['start', 'end', 'pitch', 'velocity']
    data = [[getattr(note, a) for a in attrs] for note in instrument.notes]
    instr_df = pd.DataFrame(data, columns=['start','end','note', 'velocity'])
    to_hz = lambda notenum: 2 ** ((notenum - 69)/12) * 440
    instr_df['freq'] = instr_df.note.map(to_hz)
    instr_df['duration'] = instr_df.end - instr_df.start
    return instr_df

instrument_dfs = [get_df(instr) for instr in instruments]
note_counts = [len(df.note.unique()) for df in instrument_dfs] 
first_notes = [df.start[0] for df in instrument_dfs] 
instr_names = [i.name for i in instruments]

In [25]:
first_notes

[12.714476062500001,
 9.86314940625,
 12.714476062500001,
 18.4097329375,
 29.807643125000002,
 35.502900000000004,
 52.59976528125,
 1.3128676562500001]

In [26]:
instr_names

['Slap Bass 2         ',
 'Elec Guitar 1       ',
 'String Sect 3       ',
 'Doctor Solo         ',
 'Harpsichord 2       ',
 'Syn Brass 1         ',
 'Chorale             ',
 'Percussion          ']

In [28]:
instrument_dfs[3]

          start         end  note  velocity         freq  duration
0     18.409733   18.539171    90       127  1479.977691  0.129438
1     18.409733   18.539171    78       127   739.988845  0.129438
2     18.587247   18.761064    78       127   739.988845  0.173816
3     18.587247   18.761064    90       127  1479.977691  0.173816
4     18.768460   18.942276    74       127   587.329536  0.173816
..          ...         ...   ...       ...          ...       ...
327  154.448710  154.607733    88       127  1318.510228  0.159023
328  154.629922  154.785248    88       127  1318.510228  0.155325
329  154.629922  154.785248    76       127   659.255114  0.155325
330  154.807437  154.947969    88       127  1318.510228  0.140532
331  154.803739  154.947969    76       127   659.255114  0.144231

[332 rows x 6 columns]

In [8]:
to_hz = lambda notenum: 2 ** ((notenum - 69)/12) * 440
piano_df['freq'] = piano_df.note.map(to_hz)
piano_df['duration'] = piano_df.end - piano_df.start
piano_df

     start     end  note  velocity        freq  duration
0     0.00   0.300    62       108  293.664768     0.300
1     0.30   0.450    62       108  293.664768     0.150
2     0.45   0.750    62       108  293.664768     0.300
3     0.75   0.900    62       108  293.664768     0.150
4     0.90   1.200    62       108  293.664768     0.300
..     ...     ...   ...       ...         ...       ...
555  75.30  75.550    76       108  659.255114     0.250
556  75.60  76.000    65       108  349.228231     0.400
557  75.60  76.000    69       108  440.000000     0.400
558  75.60  76.000    74       108  587.329536     0.400
559  76.50  77.625    62       108  293.664768     1.125

[560 rows x 6 columns]

In [7]:
# Max duration for each note -- how long you need to record for
piano_df.groupby('freq').duration.max()

freq
174.614116     0.300
195.997718     0.400
220.000000     0.525
233.081881     0.300
246.941651     0.150
261.625565     0.300
277.182631     0.450
293.664768     1.125
329.627557     0.450
349.228231     0.525
391.995436     0.300
440.000000     0.400
466.163762     0.300
523.251131     0.300
554.365262     0.300
587.329536     0.400
659.255114     0.300
698.456463     0.400
783.990872     0.300
880.000000     0.400
932.327523     0.400
1046.502261    0.250
Name: duration, dtype: float64

In [ ]:
# Midi velocity to volume?